[submodule "3Party/jsonfx-for-unity3d"]
	path = 3Party/jsonfx-for-unity3d
	url = https://github.com/paynechu/jsonfx-for-unity3d.git
[submodule "PlatCommon"]
	path = PlatCommon
	url = git@git.code4.in:mobilegameserver/platcommon.git
[submodule "Assets/GX"]
	path = Assets/GX
	url = git@git.code4.in:unity/GX.git
[submodule "Common"]
	path = Common
	url = git@git.code4.in:mobilegameserver/bwmcommon.git
	branch = master
