*.suo
*.user
obj
/Library
/Temp
/*.csproj
/*.apk
/*.sln
/*.userprefs
/*.unityproj
/*.booproj
/test*
/*.pdb
/Assets/StreamingAssets
Thumbs.db
Thumbs.db.meta
*.mdb
*.mdb.meta
/Assets/UnityVS/Editor/UnityVS.VersionSpecific.dll
/Assets/UnityVS/Editor/UnityVS.VersionSpecific.dll.meta
