[submodule "3Party/jsonfx-for-unity3d"]
	path = 3Party/jsonfx-for-unity3d
	url = https://github.com/paynechu/jsonfx-for-unity3d.git
[submodule "Common"]
	path = Common
	url = git@git.code4.in:mobilegameserver/shencommon.git
[submodule "PlatCommon"]
	path = PlatCommon
	url = git@git.code4.in:mobilegameserver/platcommon.git
[submodule "Assets/NLuaUnity3D"]
	path = Assets/NLuaUnity3D
	url = https://github.com/miaodadao/NLuaUnity3D.git
	branch = unity3d
